#full		three		single		polar   Basic   Acidic   Amide
alanine		    ala		A            0       0       0       0
arginine		arg		R            1       1       0       0
asparagine		asn		N            1       0       0       1
aspartic		asp		D            1       0       1       0
asparagine		asx		B            0       0       0       0
cysteine		cys		C            1       0       0       0
glutamic		glu		E            1       0       1       0
glutamine		gln		Q            1       0       0       1
glutamine		glx		Z            0       0       0       0
glycine		    gly		G            0       0       0       0
histidine		his		H            1       1       0       0
isoleucine		ile		I            0       0       0       0
leucine		    leu		L            0       0       0       0
lysine		    lys		K            1       1       0       0
lysinex		    kcx		K            1       1       0       0
methionine		met		M            0       0       0       0
phenylalanine   phe		F            0       0       0       0
proline		    pro		P            0       0       0       0
serine		    ser		S            1       0       0       0
threonine		thr		T            1       0       0       0
tryptophan		trp		W            1       0       0       0
tyrosine		tyr		Y            1       0       0       0
valine		    val		V            0       0       0       0
pseudo		    pse		J            0       0       0       0
